body {
    font-family: Arial, sans-serif;
    background-color: rgba(224, 247, 233,0.5);
    background-image: url('assets/signup1.jpg'); /* Relative path to your image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin:auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: none; /* Removed border from table cells */
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type="textarea"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"], input[type="button"] {
    width: calc(33% - 10px);
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d71e7b; /* Green background color */
    color: white;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-color: #882158; /* Darker green on hover */
}

a {
    color: rgb(242, 13, 162);
    text-decoration: none;
}

@media (max-width: 600px) {
    form {
        width: 100%;
    }
}
#td1
{
    text-align: center;
}